body{
    background-color: rgb(255, 217, 0);
    animation-name: hinta;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes hinta{
    0%  {background-color: blue;}
    25% {background-color: purple;}
    50% {background-color: red; }
    70% {background-color: rgb(255, 217, 0);}
    90% {background-color: rgb(95, 151, 255);}
    100% {background-color: blue;}
}

#hinweis{
    margin: 30vh auto;
    position: fixed;
    top: 35vh;
    left: 28vw;
    font-weight: bold;
    opacity: 0;
}

#main{
    background-color: white;
    width: 70vw;
    margin:25vh auto ;
    padding: 8vh;
    border-radius: 30px;
    border: black solid 5px;
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bold;
}