body{
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}

main{
    background-color: bisque;
    width: 70vw;
    margin: 2vh auto ;
    padding: 8vh;
    text-align: center;
    color: rgb(250, 130, 87);
}

h1{
    text-align: center;
    font-size: 500%;
    padding-bottom: 50px;
    border-bottom: rgb(250, 130, 87) solid 2px;;
}

h2{
    font-size: 150%;
}

hr {
    width: 100%;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

#info {
    width: 100%;
    color: gray;
    display: flex;
}

#info div {
    width: 50%;
}

#data {
    margin-right: 50px;
    text-align: right;
}