body{
    background-color: #F7F4F3;
    font-family: 'Times New Roman', Times, serif;
}

main{
    background-color: #F7F4F3;
    width: 70vw;
    margin: 1vh auto ;
    padding: 5vh;
    text-align: center;
    color: #564D4A;
}

h1{
    text-align: center;
    font-size: 500%;
    padding-bottom: 50px;
    border-bottom: #564D4A solid 2px;
}

h2{
    font-size: 130%;
    font-family:sans-serif;
}

hr {
    width: 100%;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

#info {
    width: 100%;
    color: gray;
    display: flex;
}

#info div {
    width: 100%;
}

#data {
    margin-right: 50px;
    text-align: right;
}